
/* font-family: 'Righteous',
cursive;
font-family: 'Saira',
sans-serif;
font-family: 'Ubuntu',
sans-serif;*/


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

html{
    font-family: 'Ubuntu', sans-serif;
}

.container{
    max-width: 1024px;
    margin: auto;
    padding: 0 1.5em;
}
.heading {
    font-size: 20px;
    font-weight: bold;
    color: #002447;
    background: #1e8fff69;
    padding: .3em;
    width: fit-content;
    border-radius: 3px;
    margin-bottom: .3em;
}
.para {
    font-size: 17px;
}



.header{
    position: fixed;
    width: 100%;
    background: #ffffffd8;
    /* background: #03112c; */
    padding: 1em;
    color: #0043b8;
    z-index: 9;
    transition: all .2s ease-in-out;
}
.headerBg{
    background: #000e27;
    color: white;
}
.header-flex{
    display: flex;
    justify-content: space-between;
}
.logoFlex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logoFlex img{
    width: 400px;
}

.line {
    display: none;
}

.navLinks {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navLinks a{
    text-decoration: none;
    font-weight: bold;
    color: #031b47;
    margin-left: 2em;
    transition: all .2s ease-in-out;
}
.navLinks i{
    font-size: 1.25em;
}
.navLinks a:nth-child(1):hover {
    color: #002f81
}
.navLinks a:nth-child(2):hover {
    color: #0043b8
}
.navLinks a:nth-child(3):hover{
    color: #119600
}
.navLinks a.navChg{
    color: white;
}

.home{
    background: url('./images/img_3_edited.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 85vh;
    position: relative;
    z-index: 1;
}
.home::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: #000000a9;
    height: 100%;
    width: 100%;
    z-index: -1;
}
.colorSpan{
    color: dodgerblue;
}
.pushDown{
    margin-top: 18em;
}
.home .homeDisp{
    height: 100%;
    width: 100%;
    color: white;
}
.home .homeIntro{
    width: 100%;
    justify-self: center;
    text-align: center;
    background: #000e276b;
    padding: 1em;
    border-radius: 3px;
}
.home .homeIntro .btnHome{
    cursor: pointer;
    padding: .7em 1.2em;
    border-radius: 3px;
    background: dodgerblue;
    border: none;
    color: white;
    font-family: 'Saira', sans-serif;
    transition: all .2s ease-in-out;
    margin: 1.5em 0 0 0;
}
.home .homeIntro .btnHome:hover{
    background: #031b47;
}



.tableList {
    width: 100%;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em 0;
}
.tableList h3{
    padding: .5em;
    margin: 1em 0;
    background: #000e27;
    color: white;
    border-radius: 3px;
    text-align: left;
    align-self: flex-start;
}
.content-table{
    border-collapse: collapse;
    margin: 25px 0;
    min-width: 400px;
    width: 100%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}
.content-table thead tr{
    background-color: #000e27;
    text-align: left;
    color: white
}
.content-table th,
.content-table td{
    padding: .8em 1em
}
.content-table tbody tr{
    border-bottom: 1px solid #ddd;
    transition: all .2s ease-in-out
}
.content-table tbody tr:nth-of-type(even){
    background: #d3d3d3;
}
.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #000e27;
}
.content-table tbody tr:hover{
    font-weight: bold;
    color: #000e27
}


footer{
    background: #000e27;
    min-height: 10vh;
    padding: 1em;
    color: white;
    text-align: center;
}
footer .p1{
    padding: 1em 0 2em 0;
}
footer .p2{
    padding: 1em 0 .5em 0;
    font-size: 14px;
}
footer .p2 a{
    text-decoration: none;
    color: dodgerblue;
}


@media only screen and (max-width: 768px){

    .header-flex {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

        .logoFlex img {
            width: 300px;
        }

    .line{
        display: flex;
        border: 1px solid dodgerblue;
    }

    .logoFlex {
        margin-bottom: 1em;
    }
    
    .navLinks {
        margin-top: 1em;
    }


    .content-table {
        border-collapse: collapse;
        margin: 25px 0;
        min-width: 200px;
        width: 90%;
        border-radius: 5px 5px 0 0;
        overflow: scroll;
        font-size: 14px;
    }
        .content-table th,
        .content-table td {
            padding: 1em .5em;
            text-align: center;
        }
}



